{% extends "navbar.html" %}
{% block content %}
    <link rel="stylesheet" href="/static/home.css">
    <h4>Choose a Genre</h4>
    <div>
        <ul>
        {% for gen in genres %}
        <div class="col s12 m6 l3">
            <center>
            <table>
                <td ><a href="{{ url_for('books_by_genre', genre =gen) }}" ><p style="color: white;">📒{{gen}}</p>
                </a></td>
            </table>
        </center>
        </div>
        {%endfor%}
        </ul> 
    </div>
{% endblock %}